name: Nuget Package
on:
  push:
    branches:
      - master
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    env:
      OUTPUT_FOLDER: out
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1
        with:
          source-url: https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}  

      - name: Setup dotnet
        uses: nuget/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          nuget-version: '2.0.0-rc'

      - name: Restore dependency packages
        working-directory: PackageIconExample
        run: dotnet restore PackageIconExample.sln

      - name: Build dotnet core project
        working-directory: PackageIconExample
        run: dotnet pack -c Release -o $OUTPUT_FOLDER PackageIconExample.csproj

      - name: Publish the package to nuget.org
        working-directory: PackageIconExample
        run: dotnet nuget push $OUTPUT_FOLDER/*.nupkg --skip-duplicate --no-symbols true

      