name: Nuget Package
on:
  push:
    branches:
      - master
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['3.0']
    env:
      OUTPUT_FOLDER: out
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
        # env:
        #   NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Install dependencies
        working-directory: samples-dotnet-helloworld
        run: dotnet restore

      - name: Build
        working-directory: samples-dotnet-helloworld
        run: dotnet build -c Release --no-restore -o $OUTPUT_FOLDER

      # - name: Restore dependency packages
      #   working-directory: samples-dotnet-helloworld
      #   run: dotnet restore

      # - name: Build dotnet core project
      #   working-directory: samples-dotnet-helloworld
      #   run: dotnet publish -c Release -o $OUTPUT_FOLDER

      - name: Publish the package to nuget.org
        working-directory: samples-dotnet-helloworld
        run: dotnet nuget push $OUTPUT_FOLDER/*.nupkg -k $NUGET_API_KEY
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

      