name: Nuget Package
on:
  push:
    branches:
      - master
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '3.0', '3.1.x', '5.0.x' ]
    env:
      OUTPUT_FOLDER: out
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install dependencies
        working-directory: samples-dotnet-helloworld
        run: dotnet restore

      - name: Build
        working-directory: samples-dotnet-helloworld
        run: dotnet build --configuration Release --no-restore

      # - name: Restore dependency packages
      #   working-directory: samples-dotnet-helloworld
      #   run: dotnet restore

      # - name: Build dotnet core project
      #   working-directory: samples-dotnet-helloworld
      #   run: dotnet publish -c Release -o $OUTPUT_FOLDER

      # - name: Publish the package to nuget.org
      #   working-directory: samples-dotnet-helloworld
      #   run: dotnet nuget push $OUTPUT_FOLDER/*.nupkg --skip-duplicate --no-symbols true

      